/*theme : couleur fond secondaire  --> #DDEFE8
          couleur bouton --> #86BC24
 */
.logo{
    width: 50px;
}
#title{
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    color : black;
}

#start{
    margin: 0 auto;
    position: center;
    color : black;
}
.all-job {
    width: 60%;
    margin: auto;
    padding: 2%;
    background-color: #DDEFE8;
}

.job {
    margin: 2%;
    padding: 2%;
    border: 2px solid #86BC24;
    border-radius: 25px;
}

.job-title{
    color: black;
    text-decoration: none;
}
.linked-item__meta{
    display: block;
    flex-direction: row;
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:55%;
    margin:0 auto;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #DDEFE8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 76%;
    margin: 0 auto;
    padding-bottom: 10px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #86BC24;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
