/*theme : couleur fond secondaire  --> #DDEFE8
          couleur bouton --> #86BC24
 */

header{

}

#home-button{
    width: 50px;
    height: 50px;
}

body{

}
#home-button{
    padding: 5%;
}
h1{
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    color : black;
}

article{
    margin-top: 5%;
    width: 60%;
    background-color: #DDEFE8;
}
article:hover{
    background-color: #86BC24;
}
.job-title{
    color: black;
    text-decoration: none;
}
.linked-item__meta{
    display: block;
    flex-direction: row;
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
#goTO{
    background-color: #86bc24;
    border-radius: 15pt;
    margin: 5px 15px;
    padding: 3px 10px;
    color: white;
}
html {
    scroll-behavior: smooth;
}
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #DDEFE8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 76%;
    margin: 0 auto;
    padding-bottom: 10px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #86BC24;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}